{
  "watania": {
    "username": "your_username_here",
    "password": "your_password_here",
    "portal_url": "https://www.watania.ae/",
    "login_url": "https://www.watania.ae/login"
  },
  "nextcare": {
    "username": "your_username_here",
    "password": "your_password_here",
    "portal_url": "https://nextcare.ae/"
  },
  "daman": {
    "username": "your_username_here",
    "password": "your_password_here",
    "portal_url": "https://www.damanhealth.ae/"
  },
  "takaful": {
    "username": "your_takaful_username",
    "password": "your_takaful_password",
    "portal_url": "https://b2bhplus.takafulemarat.com/login",
    "login_url": "https://b2bhplus.takafulemarat.com/login"
  },
  "vendor-gig-gulf": {
    "username": "IMEDICAL",
    "password": "Interactive@2025"
  }
}

